In [ ]:

import pandas as pd
from datetime import datetime as dt

In [ ]:
'''
Cleaning each data  ame before merging
we will keep the attribute 'fuente' to created the computed
tables with it but well make sure to erase it after merging and computation'''
df_museos = pd.read_csv('museos/2022-07/26-07-2022.csv')
## Deleting the columns we dont need
df_museos.drop(df_museos.columns[[3,4,10,12,16,17,18,19,21,22,23]], axis=1, inplace=True)
## renaming the columns
new_name = ['cod_localidad',
            'id_provincia',
            'id_departamento',
            'categoria',
            'provincia',
            'localidad',
            'nombre',
            'domicilio',
            'codigo_postal',
            'numero_telefono',
            'mail',
            'web',
            'fuente']
df_museos.columns = new_name

In [ ]:
## cleaning cines dataset
df_cines = pd.read_csv('cines/2022-07/26-07-2022.csv')
### Deleting the columns we dont need
df_cines.drop(df_cines.columns[[3,6,10,12,16,17,18,19,21,22,23,24,25]], axis=1, inplace=True)
### renaming the columns
df_cines.columns = new_name

In [ ]:
## cleaning bibliotecas dataset 
df_bib = pd.read_csv('bibliotecas/2022-07/26-07-2022.csv')
df_bib.drop(df_bib.columns[[3,5,7,11,13,17,18,19,20,22,23,24]], axis=1, inplace=True)
## rename the columns
df_bib.columns = new_name

In [ ]:
### Concadenating the cleaned dataframes
df_combi = pd.concat([df_museos, df_cines, df_bib])

In [ ]:
### Creating 3 new tables with computated information. The challenge info
### said it was one table but it makes more sense like this in my humble opinion
df_cat_total = df_combi.groupby('categoria', as_index=False)['cod_localidad'].count()
df_cat_total.columns = ['categoria', 'total']
df_fuente_total = df_combi.groupby('fuente', as_index=False )['cod_localidad'].count()
df_fuente_total.columns = ['fuente', 'total']
df_prov_cat_total = df_combi.groupby(['provincia', 'categoria'], as_index=False)['cod_localidad'].count()
df_prov_cat_total.columns = ['provincia', 'categoria', 'total']

In [ ]:
#### Erasing the attirubute 'fuente' because it is not needed for the tables anymore
df_combi.drop(['fuente'], axis=1, inplace=True)

In [ ]:
### Datos con lo de los cines.
df_cines2 = pd.read_csv('cines/2022-07/26-07-2022.csv')
df_comp = df_cines2.groupby('Provincia', as_index=False)['Pantallas','Butacas', 'espacio_INCAA'].sum()
df_comp['espacio_INCAA'] = df_cines2.groupby('Provincia', as_index=False)['espacio_INCAA'].count()['espacio_INCAA']
### rename columns to fit sql table
df_comp.columns = ['provincia', 'num_pantallas', 'num_butacas', 'num_incaa']

In [ ]:
'''
Now we will export the dataframe info to the sql server in docker.
'''
## Creating the connection to the server
from sqlalchemy import create_engine
engine = create_engine('postgresql://docker:docker@localhost:5432/challenge_db')

In [ ]:
#df_prov_cat_total.to_sql('categoria_provincia_total', engine, if_exists='append', index=False)
df_comp

In [ ]:
### add a time stamp to all the dataframes
### Table - Datafram pairing
df_pairings = {
    #table name: dataframe
    'registros_combi': df_combi,
    'cines': df_comp,
    'categoria_total': df_cat_total,
    'fuentes_total': df_fuente_total,
    'categoria_provincia_total': df_prov_cat_total
}
for value in df_pairings.values():
    value['fecha_subida'] = dt.now().strftime('%Y-%m-%d')

In [ ]:
## populating the tablereplaces
for table, dataf in df_pairings.items():
    dataf.to_sql(table, engine, if_exists='append', index=False)
    print(f'{table} populated')